@import '../../constants';

.button {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    background: #56ace0;
    font: $body-XL;
    color: #FFC10D;
    
    @media (max-width: $breakpoint-very-large) {
        font: $body-M;
        width: 100px;
        height: 40px;
    }
}