
//Breakpoints
$breakpoint-very-large: 1390px;
$breakpoint-medium: 800px;

//Width
$width-full: 1300px;
$width-very-large: 700px;
$width-medium: 84vw;

//Body
$body-bold-XL: normal normal bold 24px/32px 'Open Sans';
$body-bold-M: normal normal bold 18px/26px 'Open Sans';

$body-XL: normal normal normal 24px/32px 'Open Sans';
$body-M: normal normal normal 18px/26px 'Open Sans';

$input-XL: normal normal normal 18px/26px 'Open Sans';
$input-M: normal normal normal 15px/21px 'Open Sans';